<div>
    <h1>login</h1>
    <form method="post" action="/api/login">
        <input type="email" name="email">
        <input type="password" name="password">

        <button type="submit">Subir</button>
    </form>
    <a href="/api/register">No tenes una cuenta?</a>
    <a href="/api/users/password">Olvidaste tu contraseña?</a>
</div>