<div>
    <form action="password-catch" method="post">
        <input type="email" name="email">
        <input type="password" name="password">

        <button type="submit">Modificar</button>
    </form>
    <a href="/api/login">Volver</a>
</div>