<div>
    <form action="/api/users/update" method="POST">
    <input placeholder="ingrese el email" type="email" name="email">
    <input name="first_name" placeholder="First_name">
    <input name="last_name" placeholder="last_name">
    <input name="age" type="number" placeholder="age">
    <input name="number" type="number" placeholder="number">
    <input type="password" name="password" placeholder="password">

    <button type="submit">Upgrade</button>
    </form>
    <a href="/api/login">Volver</a>
</div>